/* Contacto <---------------------------------------------------------------*/


.contacto {
    margin-bottom: 5rem;
}

.contenedorBalcones {
    overflow: hidden;
}

.contenedorBalcones__fondoBalcones {
    max-height: 43rem;
    
}

/* Contacto fin  <---------------------------------------------------------*/ 