/* Generales <-------------------------------------------- */



body{
    background: #C3E1E5;
background: -webkit-linear-gradient(bottom,75% #C3E1E5, #7B9EBF);
background: -moz-linear-gradient(bottom, #C3E1E5, #7B9EBF);
background: linear-gradient(to top, #C3E1E5, #7B9EBF);
}
.navbar{
    background: #97bbdd;
background: -webkit-linear-gradient(bottom,#97bbdd , #97bbdd);
background: -moz-linear-gradient(bottom, #97bbdd,#97bbdd);
background: linear-gradient(to top, #97bbdd, #97bbdd);
}

.nav-link{
    font-size: 16pt;
    font-weight: 700;
    
}
.nav-link:hover {
    text-decoration: underline;
}

.boton--color {
    background-color: #5885af;
}


 

/* Generales <--------------------------------------------- */