/* Generales <-------------------------------------------- */


.nav-link{
    font-size: 16pt;
    font-weight: 700;
    
}
.nav-link:hover {
    text-decoration: underline;
}

.boton--color {
    background-color: #5885af;
}


 

/* Generales <--------------------------------------------- */