  /* Nosotros <----------------------------------------------------------- */


  .contenedorNosotros__columna {
    height: 165vh;
}

.contenedorNosotros__fondo {
    width: $ancho * 12    ;
    height: 120vh;
    
}
.parrafoNosotros {
    max-width: 50vw;
  } 
 
  .parrafoNosotros hr {
    border: 2px solid black;
  }

  